/********** Template CSS **********/
:root {
    --primary: #26B8CE;
    --light: #FFF5F3;
    --dark: #103741;
    --prueba1: #EB8B1D;
    --prueba2: #26B8CE;
    --prueba3: #A9C940;
    --prueba4: #EA324E;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Heading ***/
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
}

h5,
h6,
.h5,
.h6 {
    font-weight: 600;
}

.font-secondary {
    font-family: 'Lobster Two', cursive;
}


/*** Navbar ***/
.navbar .navbar-nav .nav-link {
    padding: 30px 15px;
    color: var(--dark);
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .dropdown-toggle::after {
    display: none;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}
.navbar .dropdown-togglev::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        margin-top: 15px;
        border-top: 1px solid #EEEEEE;
    }
    .navbar .dropdown-toggle::after {
        display: flex;
    }
    .navbar .dropdown-togglev::after {
        display: none;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: calc(100% - 15px);
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}



/*** Header ***/
.header-carousel::before,
.header-carousel::after,
.page-header-cf::before,
.page-header-cf::after,
.page-header-hd::before,
.page-header-hd::after,
.page-header-mednc::before,
.page-header-mednc::after,
.page-header-vse::before,
.page-header-vse::after,
.page-header-mnc::before,
.page-header-mnc::after,
.page-header-mnc2::before,
.page-header-mnc2::after,
.page-header-doc::before,
.page-header-doc::after,
.page-header-rev::before,
.page-header-rev::after,
.page-header::before,
.page-header::after { 
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
    background: url(../img/bg-header-top.png) center center repeat-x;
    z-index: 1;
}

.header-carousel::after,
.page-header::after { 
    height: 19px;
    top: auto;
    bottom: 0;
    background: url(../img/bg-header-bottom.png) center center repeat-x;
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 20px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

/***CARRUSEL****/

.fixed-height {
    height: 500px;
    /* Ajusta este valor según tus necesidades */
    object-fit: cover;
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

/* Tarjetas Index */

.facility-item {
    background-color: #f8f9fa;
    /* Fondo claro para el estado normal */
    border: 1px solid var(--primary);
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    max-height: 400px;
    /* Establece una altura mínima */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.facility-item:hover {
    background-color: var(--dark);
    /* Fondo oscuro para el estado hover */
    color: var(--dark);
    /* Texto claro para el estado hover */
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.temp-color {
    color: var(--dark)
}

.facility-item .facility-text h3,
.facility-item .facility-text p {
    color: #000000;
    /* Texto oscuro para el estado normal */
    transition: color 0.3s;
}

.facility-item:hover .facility-text h3,
.facility-item:hover .facility-text p {
    color: #ffffff;
    /* Texto claro para el estado hover */
}

.facility-icon {
    transition: background-color 0.3s, color 0.3s;
}

.facility-icon.bg-info,
.facility-icon.bg-success,
.facility-icon.bg-warning {
    background-color: transparent;
    /* Fondo transparente para el ícono */
}

.facility-icon.bg-info i,
.facility-icon.bg-success i,
.facility-icon.bg-warning i {
    color: inherit;
    /* Heredar color del elemento padre */
}

.facility-item:hover .facility-icon {
    background-color: transparent;
    /* Mantener fondo transparente en hover */
}

.change-img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/*** Service ***/
.service-img-bg {
    background-attachment: fixed;
    /* Fijar la imagen de fondo */
    background-repeat: no-repeat;
    /* No repetir la imagen de fondo */
    background-size: cover;
    /* Ajustar la imagen de fondo para cubrir todo el contenedor */
    background-position: center;
    /* Centrar la imagen de fondo */
    position: relative;
    /* Asegurar que el contenedor es el referente para el pseudo-elemento */
}

.service-img-bg::before {
    content: "";
    /* Pseudo-elemento vacío */
    position: absolute;
    /* Posicionarlo de manera absoluta dentro del contenedor */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    /* Capa negra semitransparente para opacar la imagen de fondo */
    z-index: 1;
    /* Colocarlo detrás del contenido del contenedor */
}

.service-img-bg>* {
    position: relative;
    /* Asegurar que el contenido del contenedor esté encima de la capa de opacidad */
    z-index: 2;
}

.service-text {
    background-size: cover;
    /* Ajusta la imagen para que cubra el área completa */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    color: white;
    /* Ajusta el color del texto para que sea legible sobre la imagen de fondo */
}

/* Opcional: Añadir un fondo oscuro semi-transparente para mejorar la legibilidad del texto */
.service-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    border-radius: inherit;
    /* Mantiene las esquinas redondeadas */
}

.service-text>* {
    position: relative;
    z-index: 1;
}

.saber-mas-btn {
    position: absolute;
    bottom: 20px;
    /* Ajusta esta distancia según tus necesidades */
    left: 50%;
    transform: translateX(-50%);
}

.service-item {
    position: relative;
    text-align: center;
}

.service-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.service-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    transform: scale(1.2);
    transition: .3s;
    z-index: -1;
}

.service-item:hover .service-img img {
    transform: scale(1);
}

.service-item .service-text {
    transition: .3s;
}

.service-item:hover .service-text {
    background: rgba(0, 0, 0, 0.6);
}

.service-item .service-text h4,
.service-item .service-text p {
    transition: .3;
}

.service-item:hover .service-text h4 {
    color: #FFFFFF;
}

.service-item:hover .service-text p {
    color: var(--light);
}

.service-item .service-text .btn-square {
    width: 100px;
    height: 100px;
    background: transparent;
    transition: .5s;
}

.service-item:hover .service-text .btn-square {
    background: var(--light);
}

.service-item .service-text .btn {
    width: 31px;
    height: 31px;
    display: inline-flex;
    align-items: center;
    color: var(--dark);
    background: var(--light);
    white-space: nowrap;
    overflow: hidden;
    transition: .3s;
}

.service-item:hover .service-text .btn {
    width: 112px;
}



/* Fondos por página */

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/Socialyemocional.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-alimSAL {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/alim-salu-header.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-alim-bal {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/alim-salu-balanceada-header.jpg) center no-repeat;
    background-size: cover;
}

.page-header-alim-hg {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/alim-salu-higiene-header.jpg) center no-repeat;
    background-size: cover;
}

.page-header-alim-cn {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/alim-salu-nutritiva-header.jpg) center no-repeat;
    background-size: cover;
}


.page-header-vse {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/Socialyemocional.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-vincu1 {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/vincuSocial1.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-vincu2 {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/vincuSocial2.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-hga {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/higieneAlim1.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-hgal {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/Impohali.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-hgali {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/higieHogar.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-hgalim {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/recusrsostegno.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-lactancia {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/lactanciah1.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-lactancia1 {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/lactanciah2.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-lactancia2 {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/lactanciah3.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-cf {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/consejeriaFam.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-hd {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(https://images.stockcake.com/public/8/4/6/846f8c57-f451-4c49-b7e4-0be8a5f1ce7e/preschool-circle-time-stockcake.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-mednc {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/medioNaturalCultural.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-mnc {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(https://images.stockcake.com/public/0/0/e/00e234d4-ee26-486d-8368-7e69916253ca_large/baby-meets-butterfly-stockcake.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-mnc2 {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/Actividades24_36meses.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-doc {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/documentacion.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-rev {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/LoncheraSaludable.jpeg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #6C757D;
}


/*** Facility ***/
.facility-item .facility-icon {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facility-item .facility-icon::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 1;
}

.facility-item .facility-icon span {
    position: absolute;
    content: "";
    width: 15px;
    height: 30px;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.facility-item .facility-icon span:last-child {
    left: auto;
    right: 0;
}

.facility-item .facility-icon i {
    position: relative;
    z-index: 2;
}

.facility-item .facility-text {
    position: relative;
    min-height: 250px;
    padding: 30px;
    border-radius: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.facility-item .facility-text::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 1;
}

.facility-item .facility-text * {
    position: relative;
    z-index: 2;
}

.facility-item:hover .facility-icon::before,
.facility-item:hover .facility-text::before {
    background: transparent;
}

.facility-item * {
    transition: .5s;
}

.facility-item:hover * {
    color: #FFFFFF !important;
}


/*** About ***/
.about-img img {
    transition: .5s;
}

.about-img img:hover {
    background: var(--primary) !important;
}


/*** Classes ***/
.classes-item {
    transition: .5s;
}

.classes-item:hover {
    margin-top: -10px;
}


/*** Team ***/
.team-item .team-text {
    position: absolute;
    width: 250px;
    height: 250px;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    border: 17px solid var(--light);
    border-radius: 250px;
    transition: .5s;
}

.team-item:hover .team-text {
    border-color: var(--primary);
}


/*** Testimonial ***/
.testimonial-carousel {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 576px) {
    .testimonial-carousel {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.testimonial-carousel .testimonial-item .border {
    border: 1px dashed rgba(0, 185, 142, .3) !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 45px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 45px;
    font-size: 20px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
}

/*** Tarjetas de actividades ***/
.activitiesCards {
    background-color: #c7978b;
    /***#c1fffd*/
}
.activitiesCards2 {
    background-color: #c1fffd;
    /***#c1fffd*/
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 45px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    border-color: var(--primary);
    background: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary) !important;
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: #FFFFFF;
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .copyright a:hover,
.footer .footer-menu a:hover {
    color: var(--primary) !important;
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

/*Lavado de manos style*/
.motivational-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.motivational-item h3 {
    font-size: 1.25rem;
    margin-top: 10px;
    color: #17a2b8;
}

/* Estilo general para la sección Información Clara */
.info-clara-container {
    background-color: #f0f8ff;
    /* Fondo de color claro para resaltar el contenido */
    padding: 3rem 1.5rem;
    /* Espaciado generoso */
    border-radius: 10px;
    /* Bordes redondeados */
}

.info-clara-heading h2 {
    color: #007BFF;
    /* Color de texto llamativo */
    font-family: 'Arial', sans-serif;
    /* Tipografía clara y legible */
    font-weight: bold;
}

.info-clara-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /* Espaciado entre columnas */
}

.info-clara-column {
    flex: 1;
    min-width: 300px;
    /* Ancho mínimo de las columnas */
    max-width: 500px;
    /* Ancho máximo de las columnas */
}

.info-clara-image {
    border: 4px solid #04aa6b;
    /* Borde llamativo alrededor de las imágenes */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    /* Sombra sutil */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Transición para efectos de hover */
}

.info-clara-image:hover {
    transform: scale(1.05);
    /* Aumento de tamaño en hover */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    /* Sombra más prominente en hover */
}

.info-clara-text {
    color: #333;
    /* Color de texto oscuro para buena legibilidad */
    font-family: 'Arial', sans-serif;
    /* Tipografía clara y legible */
    line-height: 1.6;
    /* Altura de línea para mejor lectura */
}

.info-clara-list {
    list-style-type: disc;
    margin-left: 1.5rem;
    /* Espaciado a la izquierda para la lista */
}

.info-clara-list li {
    margin-bottom: 0.5rem;
    /* Espaciado entre los elementos de la lista */
}

/* Estilos para el contenedor de la imagen */
.image-container,
.la-importancia-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    /* Redondea el contenedor de la imagen */
    width: 100%;
    /* Ajusta el ancho del contenedor */
    max-width: 300px;
    /* Tamaño máximo del contenedor */
    height: auto;
    /* Altura automática basada en el ancho */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    /* Sombra alrededor del contenedor */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Transición para el efecto de hover */
    margin: auto;
    /* Centra el contenedor */
}

.image-container:hover,
.la-importancia-image-container:hover {
    transform: scale(1.05);
    /* Aumento de tamaño en hover */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    /* Sombra más prominente en hover */
}

.image-container img,
.la-importancia-image-container img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 15px;
    /* Redondea la imagen */
    transition: opacity 0.3s ease;
    /* Transición para la opacidad */
}



/*Pb seccion Video*/
.video-info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #f4f4f4;
}

.video-container {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    padding: 20px;
}

.video-container iframe {
    width: 100%;
    height: 315px;
    border-radius: 10px;
}

.info-container {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    padding: 20px;
    text-align: left;
}

.info-container h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.info-container p {
    font-size: 1.2em;
    line-height: 1.6;
}

.thumbnail-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.thumbnail-container img {
    width: 100px;
    height: auto;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s;
}

.thumbnail-container img:hover {
    transform: scale(1.1);
}

/*seccion video*/

/*Cuestionario*/

.quiz-section {
    text-align: center;
    padding: 50px;
}

.quiz-section form {
    display: inline-block;
    text-align: left;
}

.quiz-section label,
.quiz-section select {
    display: block;
    margin: 10px 0;
}

/*Cuestionario*/

/*Preguntas Frecuentes*/
.faq-section {
    padding: 50px;
    background-color: #e0f7fa;
}

.faq-section details {
    margin: 10px 0;
}

.faq-section summary {
    font-size: 1.2em;
    cursor: pointer;
}

.faq-section p {
    margin: 0;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
}

/*Preguntas frecuentes*/

/*Pasos*/
.info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    background-color: #f9f9f9;
}

.steps-container,
.video-container {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.steps-container h2,
.video-container h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.steps-container ul {
    list-style-type: decimal;
    padding-left: 20px;
}

.steps-container ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
    line-height: 1.6;
}

.video-container iframe {
    width: 100%;
    height: 315px;
    border-radius: 10px;
}

/*Pasos*/

/*descargable*/
.download-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.download-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.download-list {
    list-style-type: none;
    padding: 0;
}

.download-list li {
    margin-bottom: 10px;
}

.download-list a {
    text-decoration: none;
    color: #1a73e8;
    font-size: 1.2em;
    transition: color 0.3s;
}

.download-list a:hover {
    color: #0056b3;
}

/*descargable*/

/*seccion impor*/
.img-fluid3s {
    width: 100%;
    height: 200px;
    /* Tamaño fijo para todas las imágenes */
    object-fit: cover;
    border-radius: 0.5rem;
}

/*Mezcla*/

/* Estilo para blockquote */
blockquote {
    font-style: italic;
    color: #555;
    border-left: 5px solid #ccc;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #f9f9f9;
    font-size: 1.25em;
    /* Tamaño de letra más grande */
    font-weight: bold;
    /* Negrita */
    text-align: justify;
    /* Texto justificado */
}

/* Estilo para las citas */
blockquote cite {
    display: block;
    text-align: right;
    color: #888;
    font-style: normal;
    font-size: 0.9em;
    font-weight: normal;
    /* Normal para que el nombre del autor no esté en negrita */
}

/* Estilo para q */
q {
    quotes: "“" "”" "‘" "’";
    /* Agrega comillas tipográficas */
    font-style: italic;
    color: #333;
    font-size: 1.25em;
    /* Tamaño de letra más grande */
    font-weight: bold;
    /* Negrita */
    text-align: justify;
    /* Texto justificado */
}

/* Estilo para cite */
cite {
    font-weight: bold;
    font-style: normal;
    color: #555;
    font-size: 1.25em;
    /* Tamaño de letra más grande */
}

/*pastel*/
.pastel-background {
    background-color: #f0f8ff;
    /* Fondo pastel azul claro */
    border-radius: 8px;
    /* Bordes redondeados para los párrafos */
    padding: 15px;
    /* Espaciado interno */
    color: #004080;
    /* Color del texto */
    line-height: 1.6;
    /* Altura de línea para mejorar la legibilidad */
    margin-bottom: 15px;
    /* Margen inferior entre párrafos */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
}

/* Opcional: Sombra para las imágenes */
.img-fluid {
    border-radius: 10px;
    /* Bordes redondeados para la imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra en la imagen */
}

/* Opcional: Animación */
.wow {
    animation: fadeIn ease 1s;
}

.justify {
    text-align: justify;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* PlayList */
.rayito {
    width: fit-content; 
    padding: 7px; 
    border-radius: 5px; 
    font-size: 13px; 
    background-color: #EEEEEE
}
.page-header-playlist {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url("https://images.stockcake.com/public/d/e/6/de681d49-bc26-44d7-838b-c1a98005e381_large/joyful-music-class-stockcake.jpg") center center no-repeat;
    background-size: cover;
}

.font-play {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.playlist {
    list-style: none;
    padding: 0;
}
.playlist li {
    background: rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}
.playlist img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.playlist .details {
    flex: 1;
}
.playlist .details h3 {
    margin: 0;
    font-size: 1.2em;
}
.playlist .details p {
    margin: 5px 0 0;
    color: #666;
}
.details .fa-play {
    margin-left: 700px; /* Ajusta el margen según sea necesario */
}


.actmetolog {
    display: flex;
    justify-content: center; /* Centra el iframe horizontalmente */
    align-items: center; /* Opcional: centra el iframe verticalmente si el contenedor tiene altura definida */
    height: 100%; /* Asegura que el contenedor ocupe la altura completa del contenedor padre si es necesario */
    margin: 0 auto; /* Opcional: centra el contenedor en su contenedor principal */
}



/* CSS para el Contenedor Responsivo */
.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}